/* line 1, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_base.scss */
html {
  box-sizing: border-box; }

/* line 5, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_base.scss */
*,
*:before,
*:after {
  box-sizing: inherit; }

/* line 11, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_base.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #333333;
  background-image: url(/assets/images/background.png);
  background-size: 49px 29px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    /* line 11, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_base.scss */
    body {
      background-image: url(/assets/images/background_@2x.png); } }

/* line 1, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_app.scss */
.app {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  min-height: 517px;
  max-width: 820px;
  margin: 50px auto; }

/* line 10, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_app.scss */
.header {
  background: #1c688e;
  display: flex; }

/* line 15, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_app.scss */
.sidebar-main {
  display: flex; }

/* line 19, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_app.scss */
.sidebar {
  height: 100%;
  width: 200px;
  padding: 25px;
  border-right: 1px solid #e6e6e6; }

/* line 26, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_app.scss */
.main {
  flex: 1;
  height: 100%;
  padding: 25px 25px 25px 30px; }

/* line 1, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_search-input.scss */
.search {
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  flex: 1;
  font-size: 15px;
  margin: 22px 25px;
  padding: 10px 13px; }
  /* line 10, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_search-input.scss */
  .search:focus {
    outline: none; }

/* line 1, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_filter-list.scss */
.filter-list {
  margin-bottom: 20px; }

/* line 5, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_filter-list.scss */
.filter-list__title {
  font-weight: 600;
  margin-bottom: 10px; }

/* line 10, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_filter-list.scss */
.filter-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0 14px 5px 10px;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer; }
  /* line 18, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_filter-list.scss */
  .filter-list-item--active, .filter-list-item:hover {
    background-color: #2897c5; }
    /* line 22, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_filter-list.scss */
    .filter-list-item--active .filter-list-item__name,
    .filter-list-item--active .filter-list-item__count, .filter-list-item:hover .filter-list-item__name,
    .filter-list-item:hover .filter-list-item__count {
      color: #ffffff; }

/* line 29, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_filter-list.scss */
.filter-list-item__name {
  color: #000000; }

/* line 33, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_filter-list.scss */
.filter-list-item__count {
  color: #9a9a9a; }

/* line 38, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_filter-list.scss */
.rating-filter-list .star-rating {
  cursor: pointer;
  padding: 5px 10px; }

/* line 5, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result-list.scss */
.results-list-header {
  display: flex;
  position: relative;
  margin-bottom: 25px; }

/* line 11, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result-list.scss */
.results-list-stats {
  font-size: 12px;
  line-height: 1;
  padding-right: 20px; }
  /* line 16, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result-list.scss */
  .results-list-stats span {
    font-size: 14px;
    font-weight: 600; }

/* line 22, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result-list.scss */
.results-list-header-border {
  flex: 1;
  border-bottom: 1px solid #e6e6e6; }

/* line 27, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result-list.scss */
.results-list-footer {
  display: flex;
  justify-content: center;
  margin-top: 25px; }

/* line 33, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result-list.scss */
.results-list-more {
  text-align: center;
  width: 184px;
  padding: 8px 0;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s; }
  /* line 45, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result-list.scss */
  .results-list-more:hover {
    border-color: #cdcdcd;
    color: rgba(0, 0, 0, 0.8); }

/* line 1, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result.scss */
.result {
  display: flex;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: rgba(112, 112, 112, 0.6);
  margin: 15px 0; }

/* line 9, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result.scss */
.result__image {
  border-radius: 4px;
  width: 80px;
  height: 80px;
  margin-right: 15px; }

/* line 16, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result.scss */
.result__name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin: 0 0 6px; }
  /* line 23, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result.scss */
  .result__name a {
    color: #000000;
    text-decoration: none; }

/* line 29, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result.scss */
.result__reviews {
  display: flex;
  margin-bottom: 6px; }
  /* line 33, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_result.scss */
  .result__reviews .star-rating {
    margin-right: 10px; }

/* line 1, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_star-rating.scss */
.star-rating {
  display: flex; }

/* line 5, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_star-rating.scss */
.star-rating__number {
  color: #ffab66;
  margin-right: 5px;
  font-weight: 600; }

/* line 11, /Users/joseph/Projects/Algolia/solutions-hiring-assignment/src/scss/_star-rating.scss */
.star-rating__star {
  width: 16px;
  height: 15px;
  margin-right: 1px; }

/*# sourceMappingURL=../../scss */